.alt-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.alt-header__column {
  width: 33%;
}
.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}
/* alt-header 에서 spave-between을 사용하지 않고 auto를 사용하면 글자수와 무관하게
중앙 정렬이 됨 */
.alt-header__column:first-child {
  margin-right: auto;
}
/* 꿀 팁 = 핵이라고 함 */
/* chat.css에서
#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
을 하면 글자가 중앙배열이 안맞게 됨. 그래서 핵을 사용 
.alt-header__column {
  width: 33%;
}
이걸로 각각 column 열 을 33% 씩 주고 거기서  nth-child(2) text를 중앙으로 맞추고 
last child를 flex-end로 끝으로 밀어줌
*/

.alt-header__column:nth-child(2) {
  text-align: center;
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-header__column a {
  color: inherit;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}
