a {
  color: wheat;
  background-color: tomato;
  text-decoration: none;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 20px;
  transition: all 5s cubic-bezier(0.08, 0.83, 0.005, 0.755);
}
a:hover {
  font-size: xx-large;
  color: tomato;
  background-color: wheat;
}
